<h1>{{title}}</h1>

<div class="container">
  <div class="">
    <button (click)="add()" class="btn btn-danger">Add</button>
    <div *ngIf="adding">
      <my-curency-edit (close)="close($event)"></my-curency-edit>
  </div>

  </div>
  <table class="table table-inverse">
    <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let valuta of currency">

      <td>{{valuta.name}}</td>
      <td>{{valuta.symbol}}</td>
      <td> <button class="btn btn-danger" (click)="deleteCurrency(valuta)">Delete</button></td>
      <td> <button class="btn btn-info" (click)="gotoDetail(valuta)">Edit</button></td>
    </tr>
    </tbody>
  </table>

</div>


